.categoriesSection {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  padding-bottom: 64px;
  padding-top: 64px;
  background: #f3f9ed;
}

.imageWrapper {
  width: 100%;
  max-width: 335px;
  height: auto;
  border-radius: 16px;
  aspect-ratio: 335 / 357;

  max-height: 357px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.IMG {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  display: block;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 335px;
  list-style: none;
  padding-top: 35px;
  padding-bottom: 24px;
  justify-content: space-between;
  overflow: hidden;
  gap: 4px;
}
.link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;

  color: #000;
  white-space: nowrap;
}
.link:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  min-width: 0;
}
.link:last-child a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.svg {
  width: 5px;
  height: 8px;
  fill: black;
  stroke: black;
  stroke-width: 0.666667;
}
.list li:last-child {
  font-weight: 600;
}
.titleDiv {
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;

  /* line-height: 38px; */
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  padding-bottom: 24px;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
}
.textTitel {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;

  /* line-height: 28px; */
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
  position: relative;
  padding-right: 16px;
}

.textTitel::after {
  content: '|';
  margin-left: 16px;
  color: black;
  opacity: 0.2;
}
.svgPrice {
  width: 16px;
  height: 16px;
  fill: black;
}
.rating {
  display: flex;
  gap: 4px;
  text-align: center;
  flex-wrap: nowrap;
}
.stars {
  display: flex;
  align-items: center;
  gap: 4px;
}
.ratingText {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
  text-align: center;
  color: #000;
}

.svgpPrice {
  max-width: 10px;
  max-height: 28px;
  stroke: black;
  stroke-opacity: 0.2;
}

.text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #000;
  padding-bottom: 24px;
}

.formSizeDiv {
  padding-top: 8px;
  padding-bottom: 32px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.formSize {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 100%;
  max-width: 335px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #000;

  transition:
    border-color 0.2s ease,
    background 0.2s ease,
    color 0.2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: none;
  background-image: none;
}

.formSize:focus,
.inputQuantity:focus,
.buttonBuy:focus,
.selectArrow:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.15);
  color: #000;
  outline: none;
}

.formSize:hover,
.inputQuantity:hover,
.buttonBuy:hover,
.selectArrow:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.15);
  color: #000;
  outline: none;
}
.formSize:active,
.inputQuantity:active,
.buttonBuy:active,
.selectArrow:active {
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  fill: black;

  outline: none;
}
.formButtons {
  display: flex;
  gap: 16px;
  padding-bottom: 20px;
}
.buttonBasket {
  display: flex;
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  padding-block: 6px;
  padding-inline: 12px;
  width: 100%;
  max-width: 255px;
  justify-content: center;
  align-items: center;
  height: 36px;
  background: #c5e1a5;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #000;
}

.buttonBasket:hover {
  border: 1px solid #4e5a42;
  background: #9db484;
}

.buttonBasket:active {
  border: 1px solid #c5e1a5;
  background: #3b4331;
  color: #fff;
}
.inputQuantity {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 100%;
  max-width: 64px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
}
.buttonBuy {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding-block: 6px;
  padding-inline: 12px;
  width: 100%;
  max-width: 335px;
  height: 36px;
  background: rgba(0, 0, 0, 0.05);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  /* line-height: 24px; */
  line-height: 1.5;
  color: #000;
}
.formText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;

  /* line-height: 18px; */
  line-height: 1.5;
  text-align: center;
  color: #000;
  padding-top: 16px;
  padding-bottom: 32px;
}

.descriptionBlock {
}

.descriptionTitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #000;
  padding-bottom: 32px;
}

.descriptionText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #000;
  white-space: pre-line;
}
.characterList {
  display: block;
  padding-left: 24px;
}
.characterTitel {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #000;
  padding-top: 16px;
  padding-bottom: 4px;
}
.characterItem {
  padding-bottom: 4px;
}
.characteristicText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #000;
  white-space: pre-line;
  padding-right: 4px;
}

@media (min-width: 768px) {
  .categoriesSection {
    width: 100%;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    gap: 32px;
  }
  .imageWrapper {
    max-width: 336px;
    aspect-ratio: 336 / 358;
    max-height: 358px;
  }

  .listSection {
    width: 336px;
  }

  .list {
    padding-top: 0px;
  }
}

@media (min-width: 1440px) {
  .categoriesSection {
    width: 100%;
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .imageWrapper {
    max-width: 640px;
    aspect-ratio: 640 / 682;
    max-height: 682px;
  }

  .listSection {
    width: 640px;
  }

  .list {
    padding-top: 0px;
  }

  .formSize {
    max-width: 640px;
  }
  .buttonBasket {
    max-width: 560px;
  }
  .buttonBuy {
    max-width: 640px;
  }
}
