.authNav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.link {
  padding: 8px 20px;
  background-color: #c5e1a5;
  color: #000;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid transparent;
}

.link:hover,
.link:focus {
  border: 1px solid #4e5a42;
  background: #9db484;
}

.link:active {
  color: #fff;
  border: 1px solid #c5e1a5;
  background: #3b4331;
}

.linklogin {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  padding: 6px 12px;
}

.linklogin:hover,
.linklogin:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.15);
}

.linklogin:active {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.userName {
  color: #000;
  font-size: 14px;
  padding: 8px 16px;
  background-color: rgba(197, 225, 165, 0.2);
  border-radius: 20px;
}


/* Mobile */
@media (max-width: 768px) {
  .authNav {
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
}