/* #region mobile */
.wrapper {
  max-width: 375px;
  height: 866px;
  margin: 0 auto;
  padding: 48px 20px;

  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 40px;
}

.categoryLabel {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #000;
}

.viewAll {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 108px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  text-decoration: none;
  padding: 0;
}

.viewAll:hover {
  background-color: #BEE196;
  color: #fff;
}

.slider {
  padding-bottom: 24px;
}

.slide {
  display: flex;
  justify-content: flex-start;
}

.card {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 16px;
}

.imageBox {
  position: relative;
  width: 335px;
  height: 412px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
}

.info {
  padding: 12px 16px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 16px;
  color: #000;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}

.meta {
  display: flex;
  gap: 12px;
  font-size: 14px;
  margin-bottom: 12px;
}

.leftMeta {
  display: flex;
  align-items: center;
  gap: 12px;
}

.metaItem {
  display: flex;
  align-items: center;
  color: #000;
  gap: 4px;
}


.icon {
  width: 16px;
  height: 16px;
  color: #000;
}

.moreBtn {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  border-radius: 100px;
  text-decoration: none;
  line-height: 40px;
}

.moreBtn:hover {
  background-color: #BEE196;
  color: #fff;
}


.paginationWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 16px;
}

.paginationWrapper .swiper-pagination {
  display: flex;
  justify-content: flex-start !important;
  gap: 6px;
  width: auto;
  position: static;
  transform: none;
  left: 20px !important;
}

:global(.swiper-pagination) {
  justify-content: flex-start !important;
  left: 40px !important;
  bottom: 86px !important;
  transform: none !important;
  width: auto !important;
}

:global(.swiper-pagination-bullet) {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.05);
  opacity: 1;
  border-radius: 50%;
}

:global(.swiper-pagination-bullet-active) {
  background: #000 !important;
  opacity: 1;
}

.navButtons {
  position: absolute;
  bottom: 66px;
  right: 25px;
  display: flex;
  gap: 16px;
  z-index: 10;

}

.navPrev,
.navNext {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #BEE196;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000;

}

/* Hover */
.navPrev:hover,
.navNext:hover {
  background-color: #BEE196;
  color: #000;
}

/* Focus */
.navPrev:focus,
.navNext:focus {
  background-color: #BEE196;
  color: #000;
  outline: 2px solid #E6F0D9
}


/* Disabled */
.navPrev:disabled,
.navNext:disabled {
  background-color: #E6F0D9;
  color: #A1A1A1;
  cursor: not-allowed;
  box-shadow: none;
}



.iconArrow {
  width: 16px;
  height: 16px;
  color: inherit;
}


/* #endregion mobile */

/* #region tablet */
@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    height: auto;
    padding: 48px 32px;
  }

  .imageBox {
    width: 336px;
    height: 414px;
  }

  .card {
    max-width: 100%;
  }

  :global(.swiper-pagination) {
    justify-content: center !important;
    left: 320px !important;
    bottom: 60px !important;
    transform: none !important;
    width: auto !important;
  }

  .navPrev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
  }

  .navNext {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
  }



  .navButtons {
    position: static;
    gap: 16px;
  }


  .paginationWrapper {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-left: 0;
  }


  .paginationWrapper .swiper-pagination {
    justify-content: center;
    left: auto;
    transform: none;
  }

}

/* #endregion tablet */

/* #region desktop */
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
    height: 848px;
    padding: 80px 64px;
  }

  :global(.swiper-pagination) {
    justify-content: center !important;
    left: 670px !important;
    bottom: 100px !important;
    transform: none !important;
    width: auto !important;
  }

  .imageBox {
    width: 304px;
    height: 374px;
  }

  .card {
    max-width: 100%;
  }

  .viewAll:hover {
    cursor: pointer;
  }

  .moreBtn:hover {
    cursor: pointer;

  }

  .navPrev {
    left: 29px;

  }

  .navNext {
    right: 29px;

  }

  .navButtons {
    gap: 20px;
  }


  .paginationWrapper {
    margin-top: 32px;
  }
}

/* #endregion desktop */