.style {
    padding-top: 32px;
    padding-bottom: 32px;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    font-family: var(--font-nunito-mono), sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.2;
    color: var(--main-color-light);
    margin-bottom: 40px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.icon {
    width: 56px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.iconComfort {
    background-image: url("/StyleImg/3.png");
}

.iconNatural {

    background-image: url("/StyleImg/1.png");
}

.iconUniversal {
    background-image: url("/StyleImg/2.png");

}

.cardTitle {
    font-family: var(--font-nunito-mono), sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.3;
    color: var(--main-color-light);
}

.description {
    font-family: var(--font-inter), sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-color-light);
    text-align: left;

}

@media (min-width: 375px) {
    .container {
        max-width: 375px;
        padding: 0 20px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .list {
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }


}

@media (min-width: 1440px) {
    .style {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .title {
        max-width: 508px;
    }

    .item {
        max-width: 456px;
    }

    .container {
        max-width: 1440px;
        padding: 0 64px;
        align-items: center;
    }

}