.container {
  margin: 0 auto;
  padding: 64px 20px;
}

.title {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  font-size: 36px;
}

.addButton {
  background-color: #c5e1a5;
  border: transparent;
  border-radius: 100px;
  padding: 6px 12px;
  max-height: 36px;
  font-weight: 500;
  line-height: 150%;
  color: #000000;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  width: 156px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.list {
  display: flex;
  width: 100%;
}

.swiper-slide {
  display: flex;
  height: auto;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 203px;
}

.descContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 335px;
}

.rating {
  display: flex;
  gap: 4px;
}

.star {
  width: 20px;
  height: 19px;
  fill: #000;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #000;
}

.authorContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #000;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 9px;
  margin-top: 40px;
}

.navBtn {
  border: 1px solid #f9fcf6;
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #c5e1a5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
}

.disabled {
  background: #c5e1a5;
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 64px 32px;
    max-width: 768px;
  }

  .buttonWrapper {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 112px 64px;
  }

  .title {
    font-size: 48px;
  }

  .descContainer {
    max-width: 416px;
  }

  .listItem {
    min-height: 184px;
  }

  .text {
    font-size: 20px;
  }
}
