:root {
  --background: #f2f8e9;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ButtonGreen:hover,
.ButtonGreen:focus {
  background-color: #9db484;
  border: 1px solid #191919;
}

.ButtonGray:hover,
.ButtonGray:focus {
  background-color: #b2b2b2;
  border: 1px solid #191919;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}