.main {
  background: #f3f9ed;
}

.container {
  padding: 64px 20px;
  width: 100%;
  margin: 0 auto;
}

.cabinetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.containerCabinetWithoutTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.titleProfilePage {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
}

.titleForm {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 24px;
}

.containerProfileInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  align-items: center;
}

.profileInfoItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileInfoItemsGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.labelForm {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.inputForm {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 335px;
  height: 40px;
  background: #fff;
  color: #000;
  transition: transform 0.3s ease;
}

.inputForm:focus {
  border-color: #c5e1a5;
  outline: none;
  box-shadow: 0 0 0 3px #c5e1a51a;
}

.formRow {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 5px;
}

.inputTextArea {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 12px;
  width: 335px;
  height: 180px;
  color: #000;
  background: rgb(255, 255, 255);
  resize: none;
  overflow: auto;
}

.inputTextArea:focus {
  outline: none;
}

.saveInputButton {
  font-family: 'Inter', sans-serif;
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  width: 335px;
  height: 36px;
  background: #c5e1a5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  transition: all 0.3s ease;
}

.saveInputButton:hover {
  background: #9db484;
  color: #000;
  border: 1px solid #4e5a42;
}

.saveInputButton:focus {
  background: rgba(0, 0, 0, 0.15);
  color: #000;
  border: 1px solid #4e5a42;
}

.messageNoInfo {
  border-radius: 16px;
  padding: 24px 16px;
  background: #d6eac0;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textMessageNoInfo {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}

.linkMessageNoInfo {
  border: 1px solid #c5e1a5;
  border-radius: 100px;
  padding: 6px 12px;
  width: 303px;
  background: #c5e1a5;
}

.linkMessageNoInfo:hover {
  background: #9db484;
  color: #000;
  border: 1px solid #4e5a42;
}

.linkMessageNoInfo:focus {
  background: rgba(0, 0, 0, 0.15);
  color: #000;
  border: 1px solid #4e5a42;
}

.logoutButton {
  font-family: 'Inter', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 6px 12px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  width: 335px;
  height: 36px;
  transition: all 0.3s ease;
}

.logoutButton:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.15);
}

.logoutButton:focus {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0);
}

.transactionItemLi {
  display: none;
}

.containerMessageTransactionList {
  width: 335px;
  margin: 0 auto;
}

.transactionList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  margin-bottom: 48px;



}

.transactionItemTextUnStrong {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;

}

.transactionItemSpanStrong {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.transactionItemText {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.transactionItemSpan {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.transactionItem {
  display: flex;
  justify-items: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

.orderLeft {
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px) {
  .container {
    padding: 64px 32px 48px;
  }

  .inputTextArea {
    width: 704px;
    height: 180px;
  }

  .containerProfileInfo {
    margin-bottom: 24px;
    align-items: flex-start;
  }

  .profileInfoItems {
    flex-direction: row;
    gap: 16px;
  }

  .profileInfoItems {
    gap: 32px;
  }

  .inputPhone {
    width: 704px;
  }

  .labelTextArea {
    display: none;
  }



  .saveInputButton {
    width: 147px;
  }

  .containerMessageTransactionList {
    width: 704px;
  }

  .messageNoInfo {
    padding: 24px 0px;
  }

  .linkMessageNoInfo {
    width: 115px;
  }

  .transactionItemLi {
    display: list-item;

  }

  .transactionItem {
    gap: 200px;
  }

  .transactionList {
    justify-content: flex-start;
    gap: 171px;
  }


}

@media (min-width: 1440px) {
  .container {
    padding: 112px 64px 80px;
  }

  .titleProfilePage {
    font-size: 48px;
  }

  .inputTextArea {
    width: 640px;
    height: 180px;
  }

  .containerCabinetWithoutTitle {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .inputForm {
    width: 304px;
  }

  .inputPhone {
    width: 640px;
  }

  .transactionItem {
    gap: 150px;
  }

  .containerMessageTransactionList {
    width: 640px;
  }
}