.categoriesSection {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.categories {
  display: flex;
  max-width: 375px;
}
.title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  width: 100%;
  max-width: 213px;
  box-sizing: border-box;
  padding-top: 48px;
  padding-bottom: 40px;
  margin: 0;
}
.buttonLink {
  padding-top: 98px;
}
.button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 122px;
  height: 36px;
}
.button:hover {
  background: rgba(0, 0, 0, 0.15);
}
.CategoriesList {
  list-style: none;
  display: block;
}
.CategoriesItem {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}
.imageWrapper {
  width: 100%;
  max-width: 335px;
  height: auto;
  aspect-ratio: 335 / 223;

  max-height: 223px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.CategoriesLink {
}

.categoriesIMG {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  position: center;
  display: block;
}

.categoriesText {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;

  line-height: 1.5;
  color: #000;
  padding-top: 24px;
  margin: 0;
}
.categoriesSwiper {
  margin-top: 40px;
  position: relative;
}

.disabledButton {
  background: #c5e1a5;
  opacity: 0.3;
  cursor: not-allowed;
}

.swiperButtons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding-top: 40px;
  padding-bottom: 48px;
}

.prevButton,
.nextButton {
  border: 1px solid #f9fcf6;
  border-radius: 100px;

  width: 48px;
  height: 48px;
  background: #c5e1a5;
  fill: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
.prevButton svg,
.nextButton svg {
  width: 16px;
  height: 16px;
  stroke: #000;
  stroke-width: 2;
  transition: fill 0.2s ease;
}

.prevButton:hover,
.nextButton:hover {
  background: #9db484;
  border: 1px solid #4e5a42;
}

.prevButton:active,
.nextButton:active {
  background: #3b4331;
  border: 1px solid #c5e1a5;
}
.prevButton:active svg,
.nextButton:active svg {
  stroke: #fff;
}

.prevButton:disabled,
.nextButton:disabled {
  background: #c5e1a5;
  opacity: 0.3;
  cursor: not-allowed;

  border: 1px solid #f9fcf6;
}

.prevButton:disabled svg,
.nextButton:disabled svg {
  stroke: #000;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .categories {
    max-width: 768px;
  }
  .categoriesSection {
    width: 768px;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .title {
    max-width: 582px;
    width: 582px;
  }
  .buttonLink {
    padding-top: 55px;
  }
  .button {
  }

  .CategoriesList {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  .CategoriesItem {
    width: calc((100% - 32px) / 2);
  }
  .imageWrapper {
    max-width: 336px;
    width: 336px;
    height: 223px;
    aspect-ratio: 336 / 223;
  }
  .CategoriesLink {
  }
  .categoriesIMG {
    width: 100%;
    height: 100%;
  }
  .categoriesText {
    padding-bottom: 48px;
  }

  .swiperButtons {
    position: relative;
  }

  .prevButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    left: -24px;
    top: -210px;
  }

  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    right: -24px;
    top: -210px;
  }
}

@media (min-width: 1440px) {
  .categories {
    max-width: 1440px;
  }
  .categoriesSection {
    width: 1440px;
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .title {
    max-width: 768px;
    font-size: 48px;
    padding-top: 80px;
    width: 768px;
  }
  .buttonLink {
    padding-left: 422px;
    padding-top: 102px;
  }
  .button {
  }

  .CategoriesList {
  }
  .CategoriesItem {
    width: calc((100% - 64px) / 3);
  }

  .imageWrapper {
    max-width: 416px;
    width: 416px;
    max-height: 277px;
    height: 277px;
    aspect-ratio: 416 / 277;
  }
  .CategoriesLink {
  }
  .categoriesIMG {
  }
  .categoriesText {
  }
  .prevButton {
    left: -40px;
    top: -250px;
  }

  .nextButton {
    right: -40px;
    top: -250px;
  }
}
