/* #region mobile */

.wrapper {
    max-width: 375px;
    height: 866px;
    margin: 0 auto;
    padding: 48px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    padding: 32px 20px;
    border-radius: 16px;
    width: 100%;
    max-width: 335px;
}

.title {
    font-weight: 600;
    font-size: 32px;
    color: #000;
    margin-bottom: 24px;
}

.text {
    font-size: 16px;
    line-height: 150%;
    color: #000;
    margin-bottom: 32px;
}

.button {
    display: inline-block;
    width: 100%;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    line-height: 44px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #BEE196;
    color: #fff;
}

/* #endregion mobile */


/* #region tablet */
@media (min-width: 768px) {
    .wrapper {
        max-width: 768px;
        padding: 64px 32px;
        height: auto;
    }

    .box {
        padding: 40px 32px;
        max-width: 420px;
    }

    .title {
        font-size: 36px;
    }

    .text {
        font-size: 18px;
    }
}

/* #endregion tablet */


/* #region desktop */
@media (min-width: 1440px) {
    .wrapper {
        max-width: 1440px;
        padding: 80px 64px;
    }

    .box {
        max-width: 480px;
        padding: 48px 40px;
    }

    .button:hover {
        cursor: pointer;
    }
}

/* #endregion desktop */